<div 
  id="cy"
  style="height: 80%;"
></div>

<mat-card>
  <mat-card-header class="mx-auto">
      <mat-card-title>
        Resultado
      </mat-card-title>
    </mat-card-header>

    <br />

    <mat-card-content>
      <div class="row text-center">
        <div class="col">Melhor caminho: </div>
        <div class="col">Distância: </div>
      </div>

      <div class="row text-center">
        <div class="col">A -> B -> C</div>
        <div class="col">123.78</div>
      </div>
    </mat-card-content>
</mat-card>
